<div class="palm-dialog-content">
	<table width='100%'>
		<tr>
			<td colspan='2'>
				<div id="loginDialogTitle" class="palm-dialog-title">Please log-in</div>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class='label'>email</div>
						<div x-mojo-element="TextField" id="emailField"></div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class='label'>password</div>
						<div x-mojo-element="PasswordField" id="passwordField"></div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td align='right'>remember me</td>
			<td><div x-mojo-element="CheckBox" id="saveCheckbox"></td>
			
		</tr>
		<tr><td colspan='2'><div x-mojo-element="Button" id="loginButton"></div></td></tr>
		<tr>
			<td width='50%'><div x-mojo-element="Button" id="demoButton"></div></td>
			<td width='50%'><div x-mojo-element="Button" id="signupButton"></div></td>
		</tr>
	</table>
</div>